body {
  margin: 0;
  padding: 0;
}

.containerbio {
  display: flex;
  height: 100vh;
}

.left {
  width: 70%;
  padding: 100px;
  background-color: #014872;
  color: aliceblue;
}

.right {
  width: 30%;
  background: #00afb9;
  padding: 0px;
  justify-content: center;
  display: flex;
  color: white;
}

.formstyle {
  margin: 100px;
  padding: 50px;
  display: grid;
  justify-content: center;
}

.stylelabel {
  margin-top: 10px;
}

.line {
  width: 100%;
  height: 5px;
  background-color: rgb(247, 241, 241);
}

.center {
  display: grid;
  justify-content: center;
}

.click {
  color: aliceblue;
  text-decoration: none;
}

.click:hover {
  color: aqua;
}

.box {
  background-color: #00afb9;
  width: 200px;
  height: 100px;
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  cursor: pointer;
  color: rgb(255, 255, 255);
}

.posisi {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-decoration: none;
}

button {
  width: 100%;
}
