body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(to top, #014872, #00afb9);
  height: 100vh;
}

.containerCreateGame {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.gambarc {
  height: 100px;
  width: 100px;
  padding: 30px;
  margin: 50px;
}

.gambarc:hover {
  background-color: rgb(247, 247, 251);
  cursor: pointer;
  border-radius: 10px;
}

.gambarsamping {
  display: flex;
  justify-content: center;
  align-items: center;
}

.batasatas {
  margin-top: 100px;
  justify-content: center;
  width: 100%;
}
