.halaman {
    background: linear-gradient(to top, #014872, #00afb9);
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .halamanbox {
    margin: 0px;
    height: 200px;
    width: 500px;
    background-color: rgba(245, 245, 245, 0.531);
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    display: grid;
    justify-content: center;
    align-items: center;
  }
