.history {
  background: linear-gradient(to top, #014872, #00afb9);
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  justify-content: center;
  height: 100vh;
}

.historybox {
  margin-top: 0px;
  height: 500px;
  width: 1000px;
  background-color: rgba(245, 245, 245, 0.531);
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
}

.batas {
  margin-top: 70px;
}

th {
  background-color: #00afb9;
  height: 30px;
  width: 350px;
  border-radius: 5px;
}

td {
  background-color: #00b0b97c;
  height: 30px;
  width: 350px;
  border-radius: 5px;
  text-align: center;
}
