#body {
  background: linear-gradient(to top, #014872, #00afb9);
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  max-width: 700px;
  margin: 120px;
  padding: 150px;
  background-color: rgba(245, 245, 245, 0.531);
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  align-items: center;
  display: grid;
}

h1 {
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top: 0px;
  font-size: 52px;
}

label {
  margin-top: 15px;
}

input {
  height: 30px;
  width: 250px;
  border: none;
}

button {
  margin-top: 25px;
  height: 35px;
  background: linear-gradient(to top, #01497260, #00b0b959);
  border: none;
}

button:hover {
  color: aliceblue;
}

p {
  font-size: 15px;
  align-items: center;
  justify-content: center;
  display: flex;
}

p:hover {
  cursor: pointer;
  color: aliceblue;
}
