/* CSS untuk tampilan navbar */
.navbar {
  background-color: #01497200;
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 50px;
  display: grid;
  align-items: center;
  grid-template-columns: auto auto;
}

.navbar span {
  color: rgb(255, 255, 255);
  padding: 20px 26px;
  font-size: 20px;
}

.navbar span:hover {
  background-color: #dddddd00;
  color: black;
}

/* CSS untuk mengatur posisi elemen di bagian kanan */
.navbar-right {
  float: right;
  justify-self: end;
}

.nounderline {
  text-decoration: none;
}
