body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to top, #014872, #00afb9);
  }
  
  .containerGame {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .gambarp {
    height: 100px;
    width: 100px;
    padding: 30px;
    margin-top: 10px;
  }
  
  .gambarp:hover {
    background-color: rgb(247, 247, 251);
    cursor: pointer;
    border-radius: 10px;
  }
  
  .bawah {
    display: grid;
    margin: 100px;
  }
  